/*general settings*/
header {
  background: #333333;
}

/*front page*/


.content>.alert-container {
  margin-bottom: 50px;
}

ul.right {
  padding-right: 2%;
}

ul.right li {
  margin-right: -20px;
}

ul.right .button {
  font-size: 0.8125rem;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #008cba;
  border-color: #007095;
  color: white;
  height: 29px;
}

ul.right input[type="email"],
ul.right input[type="password"] {
  height: 29px;
  width: 152px;
}

span.tagline {
  display: block;
  font-size: 40px;
  line-height: 1.5em;
  margin: 50px auto;
}

form>.row span {
  display: block;
  margin-bottom: 9px;
  font-size: 20px;
  color: #333333;
}

.error-login {
  opacity: .4;
  width: 365px;
  margin: 0.938em 1.5% 0 0;
  float: right;
}

div.sign-up {
  margin-top: 50px;
}

.error-sign-up {
  opacity: .4;
}

.movie-slider-container {
  text-align: center;
}

.movie-slider-container img {
  margin: 0 0 20px 20px;
}

footer {
  padding-bottom: 20px;
}

/*SINGLE PAGE*/

div.link-back-container {
  margin-top: 50px;
}

div.movie-details {
  margin: 25px auto 100px;
}

div.movie-details>.row {
  max-width: 100%;
  margin: 0 auto;
}

.column-left {
}

.column-left>img {

}

.column-right {
}

.column-right p {
  text-align: justify;
}

.column-right .details {
  font-weight: bold;
}


/*MEMBER PAGE*/

div.movie-showing-title {
  margin-top: 50px;
  text-align: center;
}

div.movie-showing-container {
  margin: 10px auto 100px;
}

div.movie-showing-container dd {
  font-size: 14px;
  text-align: justify;
  line-height: 1.7em
}

div.movie-showing-container hr.divider {
  margin: 50px 0 50px 0;
}


/*----------------------MEDIA QUERIES-------------------------*/
@media only screen {

} /* Define mobile styles */

@media only screen and (max-width: 40em) {

  ul.right li {
    margin-right: 0px;
  }

  ul.right input[type="text"],
  ul.right input[type="password"] {
    height: 29px;
    width: 100%;
  }

  .error-login {
    width: 90%;
    margin: 15px auto;
    float: none;
  }

  .column-left>img {
    display: block;
    margin: 0 auto;
  }

  .column-right>h3 {
    text-align: center;
    margin-top: 15px;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-width: 40.063em) {

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .column-left>img {
    display: block;
    margin: 0 auto;
  }
  span.tagline {
    display: block;
    font-size: 40px;
    line-height: 1.5em;
    margin: 0 auto;
  }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (min-width: 64.063em) {

} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {

} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */


@media only screen and (min-width: 90.063em) {

} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {

} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) {

} /* min-width 1921px, xlarge screens */