// Variables
$color-blue: #258faf;
$color-cream: #cccccc;


h1, h2 {
  text-align: center;
}

.content {
  margin-top: 50px;
}

a.inner-links {
  color: $color-blue;
  text-decoration: none;
  font-size: 12px;
  line-height: inherit;

  &:first-child {
    padding-left: 10px;
  }

  &:hover, &:focus {
    color: $color-blue;
  }
}

.page-name {
  font-size: 12px;
}

a.forgot-pass {
  color: $color-blue;
  border: none;
  background: transparent;

  &:hover {
    color: $color-blue;
    background:transparent;
  }

  &:focus {
    color: $color-blue;
  }
}


/* FOR SEARCH PAGE */
span.sub-header {
  display: block;
  margin-bottom: 25px;
}

.search {
  margin: 15% 0 15% 0;
  text-align: center;

  input[type="text"] {
    border-radius: 0px 20px 20px 0px;
    border-left: 0;

    &:focus {
      box-shadow: none;
      border-color: $color-cream;
    }
  }

}

span.search-label {
  border: 1px solid $color-cream;
  background-color: #fff;
  border-radius: 20px 0px 0px 20px;
  border-right: 0;
  font-size: 17px;
  text-align: center;

  i {
    color: $color-cream;
  }
}


/* FOR SINGLE PAGE */
.single {
  margin-bottom: 15%;
  padding-top: 50px;
}

.song-info {
  display: block;
  margin: 0 0 5px 0;
}

.lyrics {
  margin-top: 60px;
  font-family: "Helvetica Neue";
  line-height: 1.5em;
}


/* FOR LOGIN PAGE */
.login-form {
  margin-top: 100px;
}

/*----------------------MEDIA QUERIES-------------------------*/
@media only screen {

} /* Define mobile styles */

@media only screen and (max-width: 40em) {
  .login-form {
    max-width: 90%;
  }
  .single {
    max-width: 500px;
  }
  .lyrics {
    width: 100%;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-width: 40.063em) {

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  div.login-form {
    min-width: 400px;
  }

  div.single {
    min-width: 500px;
  }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (min-width: 64.063em) {

} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {

} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */


@media only screen and (min-width: 90.063em) {

} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {

} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) {

} /* min-width 1921px, xlarge screens */