/*general styles*/

.margin-top{
    margin-top: 50px;
}

.margin-top-two{
    margin-top: 25px;
}

.container {
    max-width: 1200px;
}

span#welcome {
    margin-right: 10px;
}

hr.divider-before-footer {
    margin-top: 100px;
}

footer {
    padding-bottom: 20px;
}

/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------------USER----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/


/*-----------------*/
/*home-page*/
/*-----------------*/


/*Title*/

.title{
    font-weight: bold;
    text-transform: uppercase;
    color: #DBDBEA;
    text-shadow: 0 1px 2px #3c3c3c;
}

/*1. value = The X-coordinate
2. value = The Y-coordinate
3. value = The blur radius
4. value = The color of the shadow*/

/*thumbnails*/

div.movie-thumbnail {
    display: inline-block;
    width: 200px;
    padding: 0;
    position: relative;
    overflow: hidden;
    border: none;
    margin: 10px 10px 10px 10px;
}

div.movie-thumbnail>img{
    height: 300px;
}

div.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.75);
    width:100%;
    height:100%;
    display: none;
    z-index:2;
    border: none;
    text-align: left;
}

div.caption p{
    font-size: 14px;
    color: #999999;
}

div.caption h4 {
    margin-top: 20px;
    color: #999999;
}

div.caption a {
    text-decoration: none;
}

div.caption span {
    color: #999999;
    font-size: 20px;
    padding-right: 10px;
}

/*--------------------*/
/*Single page*/
/*--------------------*/

.movie-title-single{
    display: block;
    text-align: center
}

/*--------------------*/
/*Member page*/
/*--------------------*/

hr.member-movie-divider {
    margin-top: 40px;
    margin-bottom: 40px;
}




/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------------ADMIN----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/*--------------------*/
/*Login page*/
/*--------------------*/

.login-container{
    margin-top: 15%;
}

/*--------------------*/
/*home page*/
/*--------------------*/


div.home-link-container {
    margin-bottom: 25px;
}

div.home-link-container>a {
    font-size: 30px;
    height: 150px;
}

div.home-link-container>a>span.icon {
    margin-top: 15px;
    font-size: 60px;
}

div.tab-container{
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid #ddd;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
div.tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
div.tab-menu div.list-group{
    margin-bottom: 0;
}
div.tab-menu div.list-group>a{
    margin-bottom: 0;
}
div.tab-menu div.list-group>a .glyphicon,
div.tab-menu div.list-group>a .fa {
    color: #3c3c3c;
}
div.tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.tab-menu div.list-group>a.active,
div.tab-menu div.list-group>a.active .glyphicon,
div.tab-menu div.list-group>a.active .fa{
    color: #ffffff;
}
div.tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #428bca;
}

div.tab-content{
    background-color: #ffffff;
    padding: 20px;
    text-align: justify;
    display: block;
}

div.tab div.tab-content:not(.active){
    display: none;
}

/*movie's tab img*/

img.banner {
    width: 150px;
}






/*Styles for movies tab*/

/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------------MEDIA QUERIES----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/



/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    /*----------*/
    /*Single Page*/
    /*----------*/
    div.no-content {
        visibility: hidden;
    }

    div.content {
        width: 100%;
    }

    div.movie-details {
        width: 100%;
        clear: both;
        text-align: center;
        display: block;
    }
}